nav {
  background-color: yellowgreen;
  padding: 1rem 0;
  text-align: center;
}


#searchContainer, #container {
  color: #61dafb;
  background-color: darkblue;
  padding: 2vw;
  margin: 2vw;
  font-size: 2rem;
  text-align: center;
}


.Result {
  background-color: rgb(31, 121, 190);
  color: black;
  padding: 1.75vw;
  font-size: 1rem;
  border-style: double;
}

button {
  border-radius: 0;
  border: none;
  background-color: yellowgreen;
  color: black;
  padding: .75vw;
  font-size: 1vw;
}

.btnDiv {
  box-sizing: border-box;
  float: right;
}